[Tt]emp/
[Ll]ibrary/
[Ll]ogs/
[Bb]uild/
[Bb]uilds/
obj/
[Mm]emoryCaptures/
*.csproj
*.sln
*.user
*.userprefs
.vs/
.vsconfig
UserSettings/
Packages/*.cache
*.pidb.meta
*.pdb.meta
*.mdb.meta
.DS_Store
Thumbs.db